Repository JuDFTteam/aiida-kkr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

exclude: "^(doc)|(cookiecutters)|(aiida_kkr/tests)"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: double-quote-string-fixer
      - id: forbid-new-submodules

  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: v0.31.0
    hooks:
      - id: yapf
        name: yapf
        types: [python]
        args: ["-i"]

  - repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        types: [python]
        language: system
        exclude: |
          (?x)(
          ^examples/
          )

      - id: version-number
        name: Check version numbers
        entry: python ./utils/validate_version_consistency.py
        language: system
        files: >-
          (?x)^(
            setup.py|
            utils/validate_version_consistency.py|
            aiida_kkr/__init__.py|
            .bumpversion.cfg
          )$
        pass_filenames: false

Fix pre-commit
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Remove deprecated cleanup option for KKRimp
  aiida_kkr/calculations/kkrimp.py
  aiida_kkr/parsers/kkr.py
  aiida_kkr/parsers/kkrimp.py
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_imp_dos.py
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Fix pylint
  aiida_kkr/parsers/kkrimp.py
Due: pylint

Activate nan_to_num in KKRimp parser
  aiida_kkr/parsers/kkrimp.py
Due: pylint

Fix error plot_kkr
  aiida_kkr/tools/plot_kkr.py
Due: pylint

Fix finding parent structure for KkrimpCalculation
  aiida_kkr/tools/find_parent.py
  tests/tools/test_find_parent.py
Due: pylint

Fix pylint message
  aiida_kkr/parsers/kkrimp.py
Due: pylint

Uncomment import of KKRimp test file
  tests/tools/test_find_parent.py
Due: pylint

Fix ordering of KkrimpCalculations
  aiida_kkr/tools/plot_kkr.py
Due: pylint

Fix strucplot input in plot_kkr for KkrimpCalculations default is now to not show the structure
  aiida_kkr/tools/plot_kkr.py
Due: pylint

Update test system to use aiida-core v2.3.0 and change VoronoiCalculation test file
  tests/data_dir/VoronoiCalculation-nodes-5285e1ed9ee855cfbfbf9fe11b2fca95.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-acab3366e24be2dbeddf6a16802cfaf2.tar.gz
Due: none

Update some test files for new AiiDA-core version
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  tests/data_dir/KkrCalculation-nodes-5e8261f1e3db59cfe2602957481376e3.tar.gz
  tests/data_dir/KkrCalculation-nodes-9260ecff6d48ebee7adb680b907edcbc.tar.gz
  tests/data_dir/KkrCalculation-nodes-f544fdba7f3eb6ebd85322908203e977.tar.gz
  tests/data_dir/KkrCalculation-nodes-ff38d3ba605e86bfebabea80a103fab0.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-f69adf0c2a273e0c8fd8eecb66e3ba87.tar.gz
Due: none

Update voorostart and kkr_scf workflow files
  tests/data_dir/kkr_scf_wc-nodes-31a2e00e231215133475de79d47f7c0b.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-d05fa9e643de2b1ab7b6a47d296d38b3.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-1ed37a7933d82b3d30ac32b22f552cf7.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-befe411f798bb7b99df445c996b0569d.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-ecc140da728e6cc186a60f0f9c11de63.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-f4ae50904e5a532195c4b35f6af2c543.tar.gz
Due: none

Update kkr_dos and bandstruc workflow tests and reset yapf version
  pyproject.toml
  tests/data_dir/kkr_bs_wc-nodes-c49d8ff8323500d64a5212654338ca32.tar.gz
  tests/data_dir/kkr_dos_wc-nodes-069b654a4a88756a6c9cfad20109f0e6.tar.gz
  tests/workflows/test_bs_wc/test_bs_wc_Cu.npz
Due: none

Update gf_writeout test file
  tests/data_dir/kkr_flex_wc-nodes-94b44d25a7af0e584343419207f3a7e1.tar.gz
Due: none

Small refactoring
  aiida_kkr/calculations/kkrimp.py
  aiida_kkr/tools/tools_kkrimp.py
  aiida_kkr/workflows/_combine_imps.py
  tests/workflows/test_combine_imps.py
Due: pylint

Deactivate some tests for the moment where caching is broken
  tests/run_all.sh
Due: none

Also deactivate kkrimp_dos test
  tests/run_all.sh
Due: none

Add codecov upload token
  .github/workflows/ci.yml
Due: none

Bump version number 2.0.1 -> 2.1.0
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

Sort Jij output arrays and adapt test
  aiida_kkr/tools/jij_tools.py
  tests/workflows/test_jij_wc/test_jij.npz
  tests/workflows/test_jij_wc/test_jij_soc.npz
Due: pylint

Correct aiida-core minimal version logo
  README.md
Due: none

Use general zenodo doi instead of a specific release
  README.md
Due: none

Update readthedocs config
  .readthedocs.yml
Due: none

Update readthedocs settings
  .readthedocs.yml
Due: none

Small fixes
  aiida_kkr/tools/combine_imps.py
  aiida_kkr/workflows/_combine_imps.py
  aiida_kkr/workflows/gf_writeout.py
  aiida_kkr/workflows/imp_BdG.py
  aiida_kkr/workflows/kkr_imp_dos.py
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Add feature to write kkrflex_rimpshift file
  aiida_kkr/calculations/kkrimp.py
  aiida_kkr/tools/combine_imps.py
  aiida_kkr/workflows/_combine_imps.py
  aiida_kkr/workflows/gf_writeout.py
  aiida_kkr/workflows/imp_BdG.py
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Minor change to kkrflex_rimpshift docstring
  aiida_kkr/calculations/kkrimp.py
Due: pylint

Expose rimpshipt to kkrimp_dos workchain
  aiida_kkr/workflows/kkr_imp_dos.py
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Add forgotten setting of rimpshift to input port
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_imp_dos.py
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Bugfix parse Jij's for CPA without SOC
  aiida_kkr/tools/jij_tools.py
Due: pylint

Add tools to prepare for STM-like scanning of additional positions
  aiida_kkr/calculations/kkrimp.py
  aiida_kkr/tools/combine_imps.py
  aiida_kkr/tools/imp_cluster_tools.py
  aiida_kkr/tools/tools_STM_scan.py
Due: pylint

Fix unit of r_offset
  aiida_kkr/tools/tools_STM_scan.py
Due: pylint

Remove starting offset
  aiida_kkr/tools/tools_STM_scan.py
Due: pylint

Fix alatbasis in jij workchain
  aiida_kkr/workflows/jijs.py
Due: pylint

Minor bugfix
  aiida_kkr/workflows/bs.py
Due: pylint

Improvement of combine_imps workflow. Fix combine LDAU settings
  aiida_kkr/tools/combine_imps.py
  aiida_kkr/workflows/_combine_imps.py
Due: pylint

Adding combine_imp_wc entry point
  pyproject.toml
Due: none
