Repository JuDFTteam/aiida-kkr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

.pre-commit-config.yaml:

exclude: "^(doc)|(cookiecutters)|(aiida_kkr/tests)"

ci:
    autoupdate_schedule: monthly
    autofix_prs: true
    skip: [pylint, version-number]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: double-quote-string-fixer
      - id: forbid-new-submodules

  - repo: https://github.com/google/yapf
    rev: v0.40.2
    hooks:
      - id: yapf
        name: yapf
        types: [python]
        args: ["-i"]
        additional_dependencies: [toml]

  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.1'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
        ]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        args: [-d, W, -d, R, -d, C]
        verbose: true
        types: [python]
        language: system
        exclude: |
          (?x)(
          ^examples/
          )

      - id: version-number
        name: Check version numbers
        entry: python ./utils/validate_version_consistency.py
        language: system
        files: >-
          (?x)^(
            setup.py|
            utils/validate_version_consistency.py|
            aiida_kkr/__init__.py|
            .bumpversion.cfg
          )$
        pass_filenames: false

homogenize ci and cd actions
  .github/workflows/cd.yml
Due: none

update README with checklist how to create a release
  README.md
Due: none

add pull request template for releases
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: none

bump version number to v2.2.0
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

Remove direct dependency from pyptoject.toml (gets rejected by pypi on upload)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: none

bump version number to v2.2.1
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

activate second kkr_imp_wc test
  tests/data_dir/kkrimp_full_Ag_Cu_onsite.aiida
  tests/jukkr_installation.sh
  tests/workflows/test_kkrimp_full_wc.py
Due: pylint

Add test for shapefun_overwrite feature
  tests/calculations/test_vorocalc.py
Due: pylint

Small bugfix
  aiida_kkr/calculations/voro.py
Due: pylint

Changes to make STM workchain work for bulk systems + add tests
  aiida_kkr/tools/tools_STM_scan.py
  aiida_kkr/workflows/kkr_STM.py
  aiida_kkr/workflows/kkr_scf.py
  tests/data_dir/stm.aiida
  tests/workflows/test_stm.py
  tests/workflows/test_stm/test_stm_wc.npz
Due: pylint

activate STM test in CI
  tests/run_all.sh
Due: none

Update jij tests + small bugfix
  aiida_kkr/calculations/kkr.py
  tests/data_dir/jij.aiida
  tests/data_dir/jij_soc.aiida
  tests/data_dir/kkr_jij_wc-nodes-7316580c3630215166fd2681063d792e.tar.gz
  tests/data_dir/kkr_jij_wc-nodes-b8b421acfdbc243b6c9a1728b88e7612.tar.gz
  tests/run_all.sh
  tests/workflows/test_jij_wc.py
Due: pylint

small bugfix
  aiida_kkr/workflows/_combine_imps.py
Due: pylint

activate combine imps test in CI
  tests/run_all.sh
Due: none

Add Raffaele's STM tutorial
  examples/AiiDA-KKR_STM_Tutorial.ipynb
Due: none

bumb version number to v2.3.0
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

Exclude tests and docs from pypi upload
  pyproject.toml
Due: none

bumb version
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

try removing tests from packaging
  tests/__init__.py
Due: pylint

Try to remove tests from package for pypi upload
  .bumpversion.cfg
  .github/workflows/cd.yml
  aiida_kkr/__init__.py
  pyproject.toml
  tests/__init__.py
Due: pylint, version-number

try changing flit publish
  .bumpversion.cfg
  .github/workflows/cd.yml
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

Use first release of aiida-test-cache as testing dependency
  .bumpversion.cfg
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

relax pre-commit version dependencies
  pyproject.toml
Due: none

bump version to v2.3.1-dev2
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

bump version number
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
Due: pylint, version-number

Update CITATION.cff
  CITATION.cff
Due: none

remove .zenodo.json
  .zenodo.json
Due: none

add pre-commit check for CITATION.cff validation
  .pre-commit-config.yaml
Due: none

add .zenodo.json file and validator for CITATION.cff
  .zenodo.json
  CITATION.cff
Due: none

Update workflows.rst
  docs/source/module_guide/workflows.rst
Due: none

Update workflows.rst
  docs/source/user_guide/workflows.rst
Due: none

Add missing documentation in user's guide for workflows
  docs/source/user_guide/workflows.rst
Due: none

Add links to API documentation in docs
  docs/source/user_guide/workflows.rst
Due: none

Fix typos
  docs/source/user_guide/workflows.rst
Due: none

Add missing link in docs
  docs/source/user_guide/workflows.rst
Due: none

Formatting fix
  docs/source/user_guide/workflows.rst
Due: none
