Repository JuDFTteam/aiida-kkr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Fix last commit
  .github/workflows/ci.yml
  tests/calculations/test_vorocalc.py
  tests/data_dir/VoronoiCalculation-nodes-78531f68bf7feeecde3af0d3ebc451ed.tar.gz
Due: pylint

Save test result as artifact
  .github/workflows/ci.yml
Due: none

Always run archiving steps, even if tests fail
  .github/workflows/ci.yml
Due: none

Update test files with new version of aiida-testing
  .github/workflows/ci.yml
  tests/calculations/test_vorocalc.py
  tests/data_dir/KkrCalculation-nodes-c187bd872f4172e6d8d40ac44f220c52.tar.gz
  tests/data_dir/KkrCalculation-nodes-c66ebcce98a9efa564e824d76e1f37ee.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-42a49edd5c6b36b708696274c0008fdb.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-758880d9e769a5c64b7f3612e82c5604.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-78531f68bf7feeecde3af0d3ebc451ed.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-acab3366e24be2dbeddf6a16802cfaf2.tar.gz
  tests/data_dir/VoronoiCalculation-nodes-ed7d0c9cdc882b05400c4cbf87e3be8b.tar.gz
  tests/data_dir/kkr_bs_wc-nodes-10b529f436b65c3317cdd261cc86e06e.tar.gz
  tests/data_dir/kkr_dos_wc-nodes-069b654a4a88756a6c9cfad20109f0e6.tar.gz
  tests/data_dir/kkr_flex_wc-nodes-94b44d25a7af0e584343419207f3a7e1.tar.gz
  tests/data_dir/kkr_imp_sub_wc-nodes-fbee3433f3822fdddccc61ce3424ddb3.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-bc0d15c8ca468982e9309bde9db993b8.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-c687c8621b7a63ee5fd678e9c8a4e40c.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-d1e28fde9d5a3ce0904c9e678b05b095.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-1801042a72ed5abac19e6131b5964f02.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-c41a7ff502b6687e3214606ccc558293.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-ee9aa3bba36ac5d78e2041ff05ccacc8.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-ffc9ea6e13a430aaf8a669dd944137a7.tar.gz
Due: pylint

Fix name for artifacts
  .github/workflows/ci.yml
  tests/workflows/test_kkrimp_full_wc.py
Due: pylint

Install develop version of masci-tools for pre-commit stage
  .github/workflows/ci.yml
Due: none

Change order of installation of masci-tools and aiida-kkr for pre-commit test
  .github/workflows/ci.yml
Due: none

Bump up version numbers in changed files
  aiida_kkr/calculations/kkrimp.py
  aiida_kkr/parsers/kkrimp.py
  aiida_kkr/tools/plot_kkr.py
  aiida_kkr/tools/tools_kkrimp.py
  aiida_kkr/workflows/kkr_imp.py
  tests/__init__.py
  tests/calculations/__init__.py
  tests/cmdline/__init__.py
  tests/parsers/__init__.py
  tests/workflows/__init__.py
Due: pylint

Restore accitendally deleted __init__.py files
  tests/__init__.py
  tests/calculations/__init__.py
  tests/cmdline/__init__.py
  tests/parsers/__init__.py
  tests/workflows/__init__.py
Due: pylint

Correct placement of `set -e` in run_all test script
  tests/run_all.sh
Due: none

Fix KKRimp parsing for aiida>=2.0
  aiida_kkr/parsers/kkrimp.py
Due: pylint

Fix pre-commits and add entry point test for KKRnano calculation
  aiida_kkr/calculations/kkrnano.py
  aiida_kkr/data/strucwithpot.py
  aiida_kkr/tools/common_workfunctions.py
  aiida_kkr/workflows/KKRnanoDOSChain.py
  setup.json
  tests/test_entrypoints.py
Due: pylint

Add KKRnano modules to auto documentation
  docs/source/module_guide/calculations.rst
  docs/source/module_guide/parsers.rst
Due: none

Apply suggestions from code review
  aiida_kkr/tools/multi_imps_data_extract.py
Due: pylint

Imp data extrac tool (#79)
  aiida_kkr/tests/files/db_dump_imps_data_extract_tools.tar.gz
  aiida_kkr/tests/tools/__init__.py
  aiida_kkr/tests/tools/test_multi_imps_data_extract.py
  aiida_kkr/tools/__init__.py
  aiida_kkr/tools/multi_imps_data_extract.py
Due: pylint

Apply suggestions from code review
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/voro_start.py
Due: pylint

Update tests
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  setup.json
  tests/data_dir/kkr_scf_wc-nodes-c687c8621b7a63ee5fd678e9c8a4e40c.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-db396f0dabbf666d9a247b3dca766421.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-1801042a72ed5abac19e6131b5964f02.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-5c64544979179103384347583630cef6.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-c2ecf59e4d8f87d002b250d6ac423312.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-ee9aa3bba36ac5d78e2041ff05ccacc8.tar.gz
  tests/run_all.sh
Due: none

Minor bugfixes to treatment of core states (#100)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_scf.py
  aiida_kkr/workflows/voro_start.py
  setup.json
  tests/data_dir/kkr_scf_wc-nodes-c687c8621b7a63ee5fd678e9c8a4e40c.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-db396f0dabbf666d9a247b3dca766421.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-1801042a72ed5abac19e6131b5964f02.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-5c64544979179103384347583630cef6.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-c2ecf59e4d8f87d002b250d6ac423312.tar.gz
  tests/data_dir/kkr_startpot_wc-nodes-ee9aa3bba36ac5d78e2041ff05ccacc8.tar.gz
  tests/run_all.sh
Due: pylint

Move imp extract tool tests
  tests/files/db_dump_imps_data_extract_tools.tar.gz
  tests/run_all.sh
  tests/test_common_workfunctions.py
  tests/test_common_workfunctions_with_rmq.py
  tests/tools/__init__.py
  tests/tools/test_multi_imps_data_extract.py
Due: pylint

Fix paths for neworder potential and kickout_corestates
  .github/workflows/ci.yml
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_imp_sub.py
  tests/calculations/test_kkrimpcalc.py
  tests/files/mod_pot/test1/pot_new
  tests/run_all.sh
  tests/workflows/test_kkrimp_sub_wc.py
Due: pylint

Fix import of data for multi_imp_tool with aiida>=2.0
  .gitignore
  tests/files/mod_pot/test1/pot_new
  tests/tools/test_multi_imps_data_extract.py
Due: pylint

Combined impurity wf (#60)
  .github/workflows/ci.yml
  .gitignore
  aiida_kkr/calculations/kkr.py
  aiida_kkr/calculations/kkrimp.py
  aiida_kkr/tools/__init__.py
  aiida_kkr/tools/combine_imps.py
  aiida_kkr/tools/common_workfunctions.py
  aiida_kkr/tools/multi_imps_data_extract.py
  aiida_kkr/tools/parse_dos.py
  aiida_kkr/tools/plot_kkr.py
  aiida_kkr/workflows/_combine_imps.py
  aiida_kkr/workflows/bs.py
  aiida_kkr/workflows/dos.py
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_imp_sub.py
  tests/calculations/test_kkrimpcalc.py
  tests/files/db_dump_imps_data_extract_tools.tar.gz
  tests/files/mod_pot/test1/pot_new
  tests/run_all.sh
  tests/test_common_workfunctions.py
  tests/test_common_workfunctions_with_rmq.py
  tests/tools/__init__.py
  tests/tools/test_multi_imps_data_extract.py
  tests/workflows/test_kkrimp_sub_wc.py
Due: pylint

Increase test run stability
  .github/workflows/ci.yml
Due: none

Replace requirements for rtd by readthedocs yaml config file
  docs/requirements_for_rtd.txt
Due: none

Add basic KKRnano tests and add forgotten readthedocs config
  .readthedocs.yml
  tests/calculations/test_kkrnanocalc.py
  tests/files/db_dump_KKRnano.aiida
  tests/parsers/test_kkrnano.py
  tests/parsers/test_kkrnano/test_parse_KKRnano_calc.yml
Due: pylint

Fix kkr bandstructure test
  aiida_kkr/parsers/kkrnano.py
  aiida_kkr/workflows/bs.py
  tests/data_dir/kkr_bs_wc-nodes-10b529f436b65c3317cdd261cc86e06e.tar.gz
  tests/files/db_dump_bs/test_Kpts
  tests/files/db_dump_bs/test_energy_points
  tests/files/db_dump_bs/test_spectral
  tests/run_all.sh
  tests/workflows/nodes_for_imports.txt
  tests/workflows/test_bs_wc.py
  tests/workflows/test_bs_wc/test_bs_wc_Cu.npz
Due: pylint

Fix eos test and disable kkrimp_dos test
  aiida_kkr/workflows/eos.py
  aiida_kkr/workflows/voro_start.py
  tests/data_dir/kkr_eos_wc-nodes-5f45208994a79a848a66bfb7c55694bd.tar.gz
  tests/run_all.sh
  tests/workflows/test_eos.py
Due: pylint

Bugfix in neworder_potential
  aiida_kkr/tools/neworder_potential.py
  aiida_kkr/workflows/kkr_imp.py
  tests/workflows/test_kkrimp_dos_wc.py
  tests/workflows/test_kkrimp_full_wc.py
Due: pylint

Fix tests (#101)
  aiida_kkr/tools/neworder_potential.py
  aiida_kkr/workflows/eos.py
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/voro_start.py
  tests/data_dir/kkr_eos_wc-nodes-5f45208994a79a848a66bfb7c55694bd.tar.gz
  tests/run_all.sh
  tests/workflows/test_eos.py
  tests/workflows/test_kkrimp_dos_wc.py
  tests/workflows/test_kkrimp_full_wc.py
Due: pylint

Apply suggestions from code review
  .github/workflows/cd.yml
  aiida_kkr/calculations/kkr.py
  aiida_kkr/workflows/bs.py
Due: pylint

Update list of supported python versions
  pyproject.toml
  setup.json
Due: none

Make cd and ci settings consistent
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

Clean up KkrCalculation
  aiida_kkr/calculations/kkr.py
Due: pylint

Bump version number to 1.1.11-dev6
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
  setup.json
Due: pylint, version-number

Update version number and badges
  .bumpversion.cfg
  .travis.yml
  README.md
  TODOs.txt
  aiida_kkr/__init__.py
  aiida_kkr/workflows/check_magnetic_state.py
  aiida_kkr/workflows/check_para_convergence.py
  setup.json
Due: pylint, version-number

Path conditions:
  pylint: any of: \.py$ and not ((?x)(
^examples/
)
) and not (^(doc)|(cookiecutters)|(aiida_kkr/tests))
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  aiida_kkr/__init__.py|
  .bumpversion.cfg
)$, but not: ^(doc)|(cookiecutters)|(aiida_kkr/tests)
