Repository JuDFTteam/aiida-kkr: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Add change in version number in forgotten file
  pyproject.toml
Due: none

Fix aiida-testing version to specific commit
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
  setup.json
Due: pylint, version-number

Remove aiida-testing dependency from testing extras
  .bumpversion.cfg
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  aiida_kkr/__init__.py
  pyproject.toml
  setup.json
Due: pylint, version-number

Bugfix setting BdG file retrieve list
  aiida_kkr/calculations/kkr.py
Due: pylint

Fix 'show_empty_atoms' in plot_kkr
  aiida_kkr/tools/plot_kkr.py
Due: pylint

Make sure saved dispersion data in plot_kkr is a numpy array
  aiida_kkr/tools/plot_kkr.py
Due: pylint

Add new params_overwrite input to kkrimp scf workchain and expose it to higher level workchains
  aiida_kkr/workflows/_combine_imps.py
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Return copies of wf_default dicts to not accidentally overwrite them
  aiida_kkr/workflows/_combine_imps.py
  aiida_kkr/workflows/_decimation.py
  aiida_kkr/workflows/bs.py
  aiida_kkr/workflows/dos.py
  aiida_kkr/workflows/gf_writeout.py
  aiida_kkr/workflows/kkr_imp.py
  aiida_kkr/workflows/kkr_imp_dos.py
  aiida_kkr/workflows/kkr_imp_sub.py
  aiida_kkr/workflows/kkr_scf.py
Due: pylint

Add a new version of the find_cluster_radius function
  aiida_kkr/tools/__init__.py
  aiida_kkr/tools/common_workfunctions.py
  aiida_kkr/tools/find_cluster_radius.py
  tests/tools/test_find_cluster_radius.py
Due: pylint

Update use of find_cluster_radius in workflow
  aiida_kkr/workflows/voro_start.py
Due: pylint

Bugfix
  aiida_kkr/workflows/voro_start.py
Due: pylint

Fix Issue #55
  docs/source/conf.py
  docs/source/user_guide/calculations.rst
  tests/calculations/test_kkrcalc.py
Due: pylint

Update eos test file
  tests/data_dir/kkr_eos_wc-nodes-5f45208994a79a848a66bfb7c55694bd.tar.gz
Due: none

Allow some jobs to fail
  .github/workflows/ci.yml
Due: none

Small syntax change
  .github/workflows/ci.yml
Due: none

Fix name of env var
  .github/workflows/ci.yml
Due: none

Fix issues #26 and #55 (#104)
  .github/workflows/ci.yml
  aiida_kkr/tools/__init__.py
  aiida_kkr/tools/common_workfunctions.py
  aiida_kkr/tools/find_cluster_radius.py
  aiida_kkr/workflows/voro_start.py
  docs/source/conf.py
  docs/source/user_guide/calculations.rst
  tests/calculations/test_kkrcalc.py
  tests/data_dir/kkr_eos_wc-nodes-5f45208994a79a848a66bfb7c55694bd.tar.gz
  tests/tools/test_find_cluster_radius.py
Due: pylint

Fix entry point prefix
  setup.json
Due: none

Small improvements that fix issues #29 and #105
  aiida_kkr/workflows/kkr_scf.py
  tests/data_dir/kkr_scf_wc-nodes-8c62ad5fce3085f833f205b85491acc7.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-db396f0dabbf666d9a247b3dca766421.tar.gz
Due: pylint

Update eos test and add entry point test for decimation workflow
  tests/data_dir/kkr_eos_wc-nodes-2f2c3ca31097bf9670f13c46a6818101.tar.gz
  tests/data_dir/kkr_eos_wc-nodes-5f45208994a79a848a66bfb7c55694bd.tar.gz
  tests/test_entrypoints.py
Due: pylint

Fix issue #99
  aiida_kkr/workflows/kkr_imp_dos.py
Due: pylint

Small improvements (#106)
  aiida_kkr/workflows/kkr_imp_dos.py
  aiida_kkr/workflows/kkr_scf.py
  tests/data_dir/kkr_eos_wc-nodes-2f2c3ca31097bf9670f13c46a6818101.tar.gz
  tests/data_dir/kkr_eos_wc-nodes-5f45208994a79a848a66bfb7c55694bd.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-8c62ad5fce3085f833f205b85491acc7.tar.gz
  tests/data_dir/kkr_scf_wc-nodes-db396f0dabbf666d9a247b3dca766421.tar.gz
  tests/test_entrypoints.py
Due: pylint

Move find_parent functions to new module in tools
  aiida_kkr/calculations/kkr.py
  aiida_kkr/calculations/kkrnano.py
  aiida_kkr/calculations/voro.py
  aiida_kkr/data/strucwithpot.py
  aiida_kkr/parsers/kkrnano.py
  aiida_kkr/tools/__init__.py
  aiida_kkr/tools/find_parent.py
  tests/tools/test_find_parent.py
Due: pylint

Fix retrieval of BdG qdos files
  aiida_kkr/calculations/kkr.py
Due: pylint

Add Jij workflow
  aiida_kkr/tools/jij_tools.py
  aiida_kkr/workflows/jijs.py
  aiida_kkr/workflows/kkr_scf.py
  setup.json
  tests/data_dir/kkr_jij_wc-nodes-7316580c3630215166fd2681063d792e.tar.gz
  tests/data_dir/kkr_jij_wc-nodes-b8b421acfdbc243b6c9a1728b88e7612.tar.gz
  tests/files/jij_input.aiida
  tests/test_entrypoints.py
  tests/workflows/test_jij_wc.py
  tests/workflows/test_jij_wc/test_jij.npz
  tests/workflows/test_jij_wc/test_jij_soc.npz
Due: pylint

Add documentation for Jij workflow and activate Jij tests
  aiida_kkr/workflows/__init__.py
  docs/source/module_guide/workflows.rst
  docs/source/user_guide/workflows.rst
  tests/run_all.sh
Due: pylint

Bugfix setting convergence_reached
  aiida_kkr/workflows/kkr_scf.py
Due: pylint

Bumb version number to 1.1.12
  .bumpversion.cfg
  aiida_kkr/__init__.py
  pyproject.toml
  setup.json
Due: pylint, version-number

Create imp_BdG.py
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Create host_BdG.py
  aiida_kkr/workflows/host_BdG.py
Due: pylint

Draft
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Bugfix in kkr_imp_sub workchain
  aiida_kkr/workflows/kkr_imp_sub.py
Due: pylint

Update draft
  aiida_kkr/parsers/kkr.py
  aiida_kkr/workflows/__init__.py
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Update draft
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Update draft kkrimp_BdG_wc
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Draft update of kkrimp_BdG_wc
  aiida_kkr/workflows/imp_BdG.py
Due: pylint

Path conditions:
  pylint: any of: \.py$ and not ((?x)(
^examples/
)
) and not (^(doc)|(cookiecutters)|(aiida_kkr/tests))
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  aiida_kkr/__init__.py|
  .bumpversion.cfg
)$, but not: ^(doc)|(cookiecutters)|(aiida_kkr/tests)
